hydra-core
wandb
pytorch-lightning
torchmetrics==1.4.3
scikit-learn~=1.5.2
flatdict~=4.0.1
omegaconf~=2.3.0
transformers~=4.45.2
datasets~=3.0.1
torch==2.1.0
torchmetrics==1.2.0
torchvision==0.16.0
tqdm==4.66.1